@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
  transition: all 0.3s ease;
}

a{
  text-decoration: none !important;
}
body {
  margin: 0;
}

.test{
  flex-shrink: 0;
}

.otherTest{
  flex-grow: 1;
}

button{
  outline: none;
}

button:focus{
  outline: none;
}